.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #EFEFEA;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.banner h2 {
  margin: 0;
  color: #EFEFEA;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.banner p {
  font-size: 20px;
  font-weight: 300;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-text {
  display: flex;
  align-items: center;
  // flex-direction: column;
  height: 200px;
  width: 700px;
  background: transparent;
  background-color: rgba(195, 194, 189, 0.4);
  padding: 32px;

  // background-opacity: 0.4;

}
