.new-card {
  background-size: cover;
  background-position: center;
  height: 380px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EFEFEA;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover{
    font-weight: 300;
  }
}

.fa-trash {
  color: black;
  &:hover {
    color: #934673;
  }
}

#card-text {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
