.navbar {
  justify-content: space-around;
  background: #EFEFEA;
  // background-color: transparent;
  // transition: 0.5s background-color ease;
  height: 80px;
  h1 {
    font-family: 'Montserrat';
  font-weight: 300;

  }
  font-family: 'Montserrat';
  font-weight: 300;

}

.navbar .navbar-collapse {
  flex-grow: 0;
}

// .navbar .navbar-brand img {
//   width: 40px;
// }

.navbar .icon {
  height: 60px;
}

.label {
  height: 60px;
}

.button {
  background: #934673;
  color: #EFEFEA;
  padding: 8px 12px;
  border: solid 1px #4C3149;
  // border-radius: 8px;
}

.button:hover {
    background: #934673;
    color: #E8A2C4;
    text-decoration: none;
}



// background: #E8A2C4;
//   color: #934673;
